*{
    margin: 0;
    padding: 0;
    border: 0;
}

.top_navigator ul li a{ 
    width: 100%;
    display: block;
}
nav ul{
    
    display: flex;
    justify-content: center;
    overflow: hidden;
}