*{
    margin: 0;
    padding: 0;
    border: 0;
}

.top_navigator ul li a{ 
    width: 100%;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    text-align: center;
    
    
}
.top_navigator ul li{
    border: 1px solid rgb(243, 243, 243);
    margin: 1.5px;
    width: 20%;
    border-radius: 10px;
    
    
}
nav ul{
    
    display: flex;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    
    margin-top: 1%;
    margin-left: 17%;
    margin-right: 17%;
    align-items: center;
    border-radius: 10px;
}

/* dropdown */

.top_navigator ul .dropdown .submenu li{
    /* display: block; */
    border: none;
    
    width: 70%;
    background-color: pink;
    border-radius: none;
    
}
.top_navigator ul .dropdown .submenu li a{
    text-align: left;
}
.top_navigator ul .dropdown .submenu{
    width: 12%;
    position: absolute;
    z-index: 999;
    display: none;
    


}
.top_navigator ul .dropdown:hover .submenu{
    display: block;
    margin: 0;
    
    
}