*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../../images/library-book-shelf.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.wrapper{
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(6px);
    border-radius: 10px;
    width: 400px;
}
.wrapper h1{
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}

.wrapper .input_box{
    text-align: center;
    
    
    
}
.wrapper input{
    
    border-radius: 10px;
    
    width: 100%;
    height: 100%;
}

.wrapper .remember_forgot{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.remember_forgot label , a{
    accent-color: darkgray;
    color: white;
    text-decoration: none;
    
    
}
.remember_forgot label input{
    transform: scale(0.4);
    
   
}
