*{
    margin: 0;
    padding: 0;
    border: 0;
}
.uni_namelogo{
    width: 100%;
    height: 200px;
    display: flex;
   

}
.uni_namelogo .uni_logo{
    text-align: right;
}

.uni_namelogo .uni_logo img{
    width: 50%;
    height:100%;
    
}


.top_navigator ul li a{ 
    width: 100%;
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
    text-decoration: none;
    text-align: center;
    color: white;
    
    
}
.top_navigator ul li{
    /* border: 1px solid rgb(243, 243, 243); */
    margin: 1.5px;
    width: 20%;
    border-radius: 10px;
    
    
}
nav ul{
    
    display: flex;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    
    margin-top: 1%;
    margin-left: 17%;
    margin-right: 17%;
    align-items: center;
    border-radius: 10px;
}
.top_navigator {
    background-color: rgb(63, 63, 139);
    width: 100%;
    margin-top:-12px;
}

/* dropdown */

.top_navigator ul .dropdown .submenu li{
    /* display: block; */
    border: none;
    
    width: 70%;
    /* background-color: rgb(255, 255, 255); */
    border-radius: none;
    
}
.top_navigator ul .dropdown .submenu li a{
    text-align: center;
    margin-left: 20%;
}
.top_navigator ul .dropdown .submenu{
    width: 12%;
    position: absolute;
    z-index: 999;
    display: none;
    


}
.top_navigator ul .dropdown:hover .submenu{
    display: block;
    margin: 0;
    
    
}
img{
    width: 100%;
    height: 400px;
}
.slider_container{
    position: relative;

}
.slide{
    /* height: 300px; */
    display: none;

}
.slide_selected{
    display: block;
}
.slider_nav{
    width: 100%;
    position: absolute;
    background-color: rgb(63, 63, 139);
    height: 20px;
    text-align: center;
    margin-top: -4px;
}
.slider_btn{
    width: 10px;
    height: 10px;
    align-items: center;
    display: inline-block;
    background-color: rgb(142, 144, 145);
    border-radius: 20px;
    margin: 0 7px;
    cursor: pointer;
}
.btn_selected{
    background-color: rgb(249, 249, 253);
}
.con{
    text-align: center;
    
    height : 200px;
    width: 100%;
    background-color: rgb(250, 238, 223);
    margin-top: 40px;
}
.news{
    border-radius: 10px;
    margin-top:1.7% ;
    width: 20%;
    height: 160px;
    background-color: rgb(53, 107, 187);
    display: inline-block;
    
    
    
}
.con .img{
    margin-top: 8%;
    height: 120px;
    width: 80%;
    border-radius:10px ;
    

}
